@model int 
<div class="container row pt-4">
    <div class="text-center col-12">
        <h1 class="text-primary text-center">Payment Successfull!</h1>
         Order Number : @Model <br />
        <img src="~/images/open-book-leaves-nature-icon-600nw-2307232083.webp" width="65%"/>
    </div>
    <div class="text-center col-12">
        <br/>
       Payment has been applied successfully!<br/>
       <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model" class="btn btn-primary">Back to Order Details</a>
    </div>
</div>